<section id="about-break">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<br /><br />
				<h2 class="section-heading">The CleanRobotics <strong>Trashbot</strong>™ <br>intelligently automates recycling</h2>
				<p>Right now, we are diligently prototyping the <strong>Trashbot</strong>™, our flagship product.</p>
				<p>Check our <a href="{{site.baseurl}}/#news">News feed</a> for current information, or follow us on:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<p>
				<ul class="list-inline social-buttons">
					{% for network in site.social %}
					<li><a href="{{ network.url }}"><i class="fa fa-lg fa-{{ network.title }}"></i></a>
					</li>
					{% endfor %}
				</ul>
				</p>
				<br /><br />
			</div>
			<div class="col-md-4 "></div>
		</div>
	</div>
</section>

<!--section id="ytp">

	<a id="video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=ghqDwLIzC0Y',containment:'#ytp', showControls:true, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
	<div class="video-container text-center">
		<div class="container text-center">
			<h1>Ask about our <span class="colored-text">Virtual Geospatial Technology Officer (vGTO)</span> services</h1>
			<p>We provide on-demand, authoritative consulting support for optimal flight planning, geodata processing, enterprise data management, and web-based mapping solutions</p>
			<p><a href="#contact" class="btn btn-lg btn-theme-bg">Get in touch</a></p>
		</div>
	</div>
</section-->
