<div id="about-break"><!--for nav only-->
<section id="about-break-static" class="hidden-lg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ghqDwLIzC0Y"  allowfullscreen></iframe>
				</div>			
				<h2 class="section-heading">The CleanRobotics <strong>TrashBot</strong>™ <br>intelligently automates recycling</h2>
				<p>Right now, we are diligently prototyping the <strong>TrashBot</strong>™, our flagship product.</p>
				<p>Check our <a href="{{site.baseurl}}/#news">News feed</a> for current information, or follow us on:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<p>
				<ul class="list-inline social-buttons">
					{% for network in site.social %}
					<li><a href="{{ network.url }}"><i class="fa fa-lg fa-{{ network.title }}"></i></a>
					</li>
					{% endfor %}
				</ul>
				</p>
				<br /><br />
			</div>
			<div class="col-md-4 "></div>
		</div>
	</div>
</section>
<section id="about-break-ytp" class="hidden-xs hidden-sm hidden-md">
	<div id="video" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=ghqDwLIzC0Y',containment:'#about-break-ytp', showControls:true, showYTLogo: true, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></div>
	<div class="video-container">
		<div class="container">
			<div class="row bg-block">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">The CleanRobotics <strong>TrashBot</strong>™ <br>intelligently automates recycling</h2>
					<p>Right now, we are diligently prototyping the <strong>TrashBot</strong>™, our flagship product.</p>
					<p>Check our <a href="{{site.baseurl}}/#news">News feed</a> for current information, or follow us on:</p>
				</div>
			</div>
			<div class="row bg-block">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<p>
					<ul class="list-inline social-buttons">
						{% for network in site.social %}
						<li><a href="{{ network.url }}"><i class="fa fa-lg fa-{{ network.title }}"></i></a>
						</li>
						{% endfor %}
					</ul>
					</p>
					<br/><br/>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</section>
</div>
