


<!-- Navigation -->

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#page-top">
				<img src="{{site.logo-header}}" class="header-logo" alt="{{site.title}}">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#page-top">Home</a>
				</li>
				<li>
					<a class="page-scroll" href="#solution">Solution</a>
				</li>
				<li>
					<a class="page-scroll" href="#team">Team</a>
				</li>
				<li>
					<a class="page-scroll" href="#careers">Careers</a>
				</li>
				<li>
					<a class="page-scroll" href="#news">News</a>
				</li>
				<li>
					<a class="page-scroll" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


<!-- hero "header" -->

<div class="header">
	<div class="container">
		<div class="intro-text">
			<div class="intro-heading">
				Introducing Trashbot
			</div>
			<div class="intro-lead-in">The first ever smart trash can that uses AI to sort recyclables from landfill waste.</div>
			<div class="intro-heading"><a href="#about-break" class="page-scroll btn btn-xl">See TrashBot in Action</a></div>
		</div>
	</div>
</div>

<!--
				{% for page in site.pages %}
					{% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
				{% endfor %}
 -->
