<!-- Services Section -->
    <section id="solution">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="section-heading">At CleanRobotics, We Are Working to Make Recycling Smarter</h1>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-lg-4">
                    <h2 class="section-heading service-heading">Automatic Sorting</h2>
                    <span class="fa-stack fa-8x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa fa-recycle fa-stack-1x fa-inverse"></i>
                        <img src="img/about/challenge.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <p class="large text-muted">TrashBot automatically sorts recyclable materials from landfill waste, so you don't have to.</p>
                </div>
                <div class="col-lg-4">
                    <h2 class="section-heading service-heading">Instaneous Audits</h2>
                    <span class="fa-stack fa-8x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        <img src="img/about/solution.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <p class="large text-muted">TrashBot keeps track of all items that are thrown away, so that facilities managers can have up-to-date data on their waste generation and makeup.</p>
                </div>
                <div class="col-lg-4">
                    <h2 class="section-heading service-heading">Fullness Indication</h2>
                    <span class="fa-stack fa-8x">
                        <!--<i class="fa fa-circle fa-stack-2x text-primary"></i>-->
                        <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                        <img src="img/about/custodian.jpg" class="img-responsive img-circle" alt="">
                    </span>
                    <p class="large text-muted">TrashBot lets you know when it's full, so that your custodians can spend their time doing more productive things.</p>
                </div>
            </div>
        </div>
    </section>
