.fa-8x {
  font-size: 8em;
}

section#about-break {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/about/solution-background2.jpg);
    background-position: center;
    background-repeat: no-repeat;
		background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
		height:1080px;
		padding-top: 300px;
		padding-bottom: 300px;
}

section#careers {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/posts/robertoclementebridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-logo{
    height: 1.75em;
    position: relative;
    bottom: 10px;
}

.navbar-brand {
  padding-top: 16px;
}

.colored-text{
    color:#{{ site.color.primary }};
}

.post-row {
  margin-top: 3em;
  margin-bottom: 5em;
}

/* **********************************
 * flexslider
 */

/* flexslider width fix */
.slides {
  width:100%;
  padding:0;
  margin:0;
}

/* flexslider fonts */
.main-flex-slider h1 .colored-text{
    font-weight: 900;
}

.main-flex-slider h1{
    font-weight: 900;
    font-style: normal;
    color:#fff;
    margin: 0;

    text-transform: uppercase;
}
@media(min-width:1200px){
    .main-flex-slider h1{
        line-height: 64px;
        padding: 7px 5px;
        font-size: 64px;
    }
}
@media(max-width:992px){
    .main-flex-slider h1{
        line-height: 50px;
        padding: 0 5px;
        font-size: 50px;
    }
}
@media(max-width:768px){
    .main-flex-slider h1{
        line-height: 40px;
        padding: 0 5px;
        font-size: 40px;
    }
}
@media(max-width:633px){
    .main-flex-slider h1{
        line-height: 25px;
        padding: 0 5px;
        font-size: 25px;
    }
}

/* parallax *************************
 */

.parallax {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	background-size: cover;
	background-attachment: fixed;
}

/* video player *********************
 *
 */
#ytp{
    width:100%;
    max-width:100%;
    height: 800px;
    display: table;
    background-color: #444;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
    position: relative;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
@media(max-width:320px){
    #ytp{
        width:320px;
        overflow-y: hidden !important;
        overflow-x: hidden !important;
        height: 300px;
    }
    .video-container h1{
        font-size: 20px;
    }
}
.video-container{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 3;
}
.video-container h1{
    margin-bottom: 20px;
    color:#fff;
    text-transform: uppercase;
}
.video-container p{
    color:#fff;
}

.video-mask {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
}
