.fa-8x {
  font-size: 8em;
}

.bg-block {
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    color: white;
    margin: 0;
}

/* about-break-static shows only on small and medium screens using Bootstrap
 * responsive class
 */
section#about-break-static {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/posts/post-trashbot1.jpg);
    background-position: center;
    background-repeat: no-repeat;
		background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

		padding-top: 150px;
		padding-bottom: 300px;
}

/* about-break-ytp shows only on large and xl screens using Bootstrap responsive
 * class. Plays Youtube video in the background; fallsback to trashbot picture
 */
section#about-break-ytp {
    text-align: center;
    color: #fff;
    background-image: url(img/posts/post-trashbot1.jpg);
    background-position: center;
    background-repeat: no-repeat;
		background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
		height:1080px;
		padding-top: 300px;
		padding-bottom: 300px;
}

section#careers {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/about/solution-background2.jpg);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#teamhead {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/about/solution-background2.jpg);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

section#leadGenerator {
    text-align: center;
    color: #fff;
    background-image:
        linear-gradient(
          rgba(0, 0, 0, 0.5),
          rgba(0, 0, 0, 0.5)
        ),
        url(img/about/trashbot_crop.jpg);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-logo{
    height: 1.75em;
    position: relative;
    bottom: 10px;
}

.navbar-brand {
  padding-top: 16px;
}

.colored-text{
    color:#{{ site.color.primary }};
}

.post-row {
  margin-top: 3em;
  margin-bottom: 5em;
}

.front-page-header {
	text-align: center;
	color: #fff;
	background-attachment: scroll;
	/*background-image: url(img/header-bg.jpg);*/
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	height: 100%;
	/*text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;*/
	z-index: 10;
}

#front-page-header {
	background-color: #444;
	background-position: center 10%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	/*background-image: linear-gradient( rgba(0,0,0,0.6), rgba(0,0,0, 0.6)), url(img/header-bg.jpg);*/
	display: table;
	width: 100%;
	height: 100%;
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	vertical-align: middle;
	z-index: 10;
}

.front-page-header .intro-text {
    padding-top: 40%;
    padding-bottom: 25%;
}

.front-page-header  .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: {{ site.font.heading1 }},{{ site.font.heading2 }},{{ site.font.heading3 }},{{ site.font.heading4 }},{{ site.font.heading5 }};
    font-size: 22px;
    line-height: 22px;
}

.front-page-header  .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: {{ site.font.heading1 }},{{ site.font.heading2 }},{{ site.font.heading3 }},{{ site.font.heading4 }},{{ site.font.heading5 }};
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

@media(min-width:768px) {
    .front-page-header  .intro-text {
        height: auto;
        padding-top: 25%;
        padding-bottom: 25%;
    }

    .front-page-header  .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: {{ site.font.heading1 }},{{ site.font.heading2 }},{{ site.font.heading3 }},{{ site.font.heading4 }},{{ site.font.heading5 }};
        font-size: 40px;
        line-height: 40px;
    }

    .front-page-header  .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: {{ site.font.heading1 }},{{ site.font.heading2 }},{{ site.font.heading3 }},{{ site.font.heading4 }},{{ site.font.heading5 }};
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
