<!DOCTYPE html>
<html>

	{% include head.html %}
	<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="{{site.baseurl}}/">
				<img src="{{site.url}}/{{site.logo-header}}" class="header-logo" alt="{{site.title}}">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{site.url}}">Home</a>
				</li>
				<li>
					<a href="#page-top">Solution</a>
				</li>
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle flex-column" href="#page-top" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          				Company
        				<span class="caret"></span>
                        </a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				        <li>
                            <a class="dropdown-item" href="{{site.url}}/team">Team</a>
                        </li>
                        <li>
							<a class="dropdown-item" href="{{site.url}}/#news">Blog</a>
                    	</li>
            			<li>
							<a class="dropdown-item" href="{{site.url}}/careers">Careers</a>
                    	</li>
					</ul>
				</li>
				<li>
					<a href="{{site.url}}/#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
        
<!-- hero "header" -->
<div class="header">
	<div class="container">
		<div class="intro-text">
			<div class="intro-heading">
				About CleanRobotics
			</div>
		</div>
	</div>
</div>
        
		<!-- about content-->
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<p>CleanRobotics was founded by...</p>
				</div>
			</div>
		</div>
		{% include footer.html %} {% include js.html %}
	</body>

</html>