<!DOCTYPE html>
<html>

	{% include head.html %}
	<body id="page-top" class="index">


<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="{{site.baseurl}}/">
				<img src="{{site.url}}/{{site.logo-header}}" class="header-logo" alt="{{site.title}}">
			</a>
		</div>
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="{{site.url}}">Home</a>
				</li>
				<li>
					<a href="{{site.url}}/solution/">Solution</a>
				</li>
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle flex-column" href="{{site.url}}/about" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          				Company
        				<span class="caret"></span>
                        </a>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				        <li>
                            <a class="dropdown-item" href="#page-top">Team</a>
                        </li>
                        <li>
							<a class="dropdown-item" href="{{site.url}}/blog">Blog</a>
                    	</li>
            			<li>
							<a class="dropdown-item" href="{{site.url}}/careers">Careers</a>
                    	</li>
					</ul>
				</li>
				<li>
					<a href="{{site.url}}/#contact">Contact</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
        
<!-- hero "header" -->
<div class="header">
	<div class="container">
		<div class="intro-text">
			<div class="intro-heading">
				Meet the Team
			</div>
		</div>
	</div>
</div>  
        
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="team-intro">
                <p>The CleanRobotics team is a passionate group of sustainably-minded entrepreneurs who bring a mix of technical know-how and business acumen. We come from a variety of educational and experiential backgrounds, brought together by our dreams of revolutionizing the way that waste is dealt with.</p>
            </div>
        </div>
    </div>
</div> 
        
<section>
    <div class="container">
        <h2 style="align-content:center">Co-Founders</h2>
            <div class="row col-lg-12 col-lg-offset-2">
                
                {% for member in site.people %}
                {% if member.type == 'leadership' %}
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <img src="{{site.url}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.first }}<br>{{ member.last }}</h3>
                        <h4 class="text-muted">{{ member.position }}, Co-founder</h4>
                        <p class="text-muted text-left">{{ member.info }}</p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        <h2 style="align-content:center">Leadership</h2>
            <div class="row col-lg-12">
                
                {% for member in site.people %}
                {% if member.type == 'employee' %}
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <div class="container">
                            <img src="{{site.url}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                            <h3>{{ member.first }}<br>{{ member.last }}</h3>
                            <h4 class="text-muted">{{ member.position }}</h4>
                            <a href="#{{ member.first }}" class="btn btn-info" data-toggle="collapse">About 
                                {{ member.first }}</a>
                            <div id="{{ member.first }}" class="collapse">
                                  {{ member.info }} 
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        <h2 style="align-content:center">Advisors</h2>
            <div class="row col-lg-12 col-lg-offset-3">
                {% for member in site.people %}
                {% if member.type == 'advisory' %}
                <div class="col-lg-4 col-sm-6">
                    <div class="team-member">
                        <div class="container">
                            <img src="{{site.url}}/img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                            <h3>{{ member.first }}<br>{{ member.last }}</h3>
                            <h4 class="text-muted">{{ member.position }}</h4>
                            <a href="#{{ member.first }}" class="btn btn-info" data-toggle="collapse">About 
                                {{ member.first }}</a>
                            <div id="{{ member.first }}" class="collapse">
                                  {{ member.info }} 
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
</section>
        
    <section id="careers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>We are looking to grow our team!</h1>
                    <h3>Check our <a href="{{site.url}}/careers">Careers Page</a> for current opportunities.</h3>
                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
	{% include js.html %}
	</body>
</html>